version: '3.7'

services:
  web.local:
    # you can override the configurations to use here
    volumes:
      - ./conf/nginx-conf:/etc/nginx/conf.d/
      - ./conf/nginx-conf:/etc/nginx/conf.d/
      - ./conf/certs/:/etc/nginx/certs/
    extra_hosts:
      - "www.yourdomain.com:127.0.0.1"

